@import url(//fonts.googleapis.com/css?family=Nunito);

body {
  font-family: "Nunito", sans-serif !important;
}

#root {
  background: #fff;
}

.form-container {
  margin-top: 17vh;
  border: 1px solid #99a3b0;
  padding: 60px 70px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}